.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    width: 280px;
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.main {
    flex: 1;
    background-color: var(--bg-app);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}